{% extends "base.html" %}
{% load static %}

{% block title %}Dodaj link{% endblock %}

{% block content %}
{% block javascript %}
    <script src="{% static "assets/node_modules/jquery/dist/jquery.min.js" %}"></script>
{% endblock %}
{% load crispy_forms_tags %}
<div class="mt-5 mb-5">
<div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">    
            
            <h2 class="mb-4">Dodaj link do przepisu</h2>
            <p class="text-dark">Tutaj w prosty sposób możesz podzielić się ulubionym przepisem. Wystarczy dodać do niego link.
                <span><strong>Po tym jak link zostanie pobrany będzie można przypisać go do kategorii.</strong></span></p>
            <div id="app">
              
            <form class="margin-bottom-25" v-on:submit.prevent="addArticle()">
                    {% csrf_token %}

                    <div class="form-group">
                      <label for="formGroupExampleInput">Adres przepisu*</label>
                      <input type="url" class="form-control" id="url" placeholder="Url" @paste="paste" @input="input" v-model="embed.url">
                    </div>
                    <div class="form-group">
                      <input type="hidden" class="form-control" id="title" placeholder="Title" :value="embed.title">
                    </div>
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="description" placeholder="Description" :value="embed.description">
                    </div>
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="thumbnail_url" placeholder="Thumbnail_url" :value="embed.thumbnail_url">
                    </div>
                    <div class="form-group">
                      <input type="hidden" class="form-control" id="html" placeholder="Html" :value="embed.html">
                    </div>
                    <div class="form-group">
                      <input type="hidden" class="form-control" id="category" placeholder="Category" :value="selectedId">
                    </div>
                    <template>
                      <div>
                        <vue-tags-input
                        v-model="tag"
                        :tags="tags"
                        :autocomplete-items="filteredAutocompleteItems"
                        @tags-changed="(newTags) => (tags = newTags)"
                      ></vue-tags-input>
                      </div>
                    </template>
                <button type="submit" class="btn btn-success-gradiant">Dodaj link</button>
            </form>

          </div>
            </div>
        </div>
</div>
</div>


{% endblock %}