{% extends "base.html" %}
{% load static %}

{% block title %}Dodaj przepis{% endblock %}

{% block content %}
{% block javascript %}
<script src="{% static "assets/node_modules/jquery/dist/jquery.min.js" %}"></script>
{% endblock %}
{% load crispy_forms_tags %}
<style>
    .card-horizontal {
        display: flex;
        flex: 1 1 auto;
    }
    .tags-wrapper {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
    .tag {
      background-color: #00C853;
      color: #fff;
      border-radius: 2px;
      display: flex;
      padding: 3px 5px;
      margin: 2px;
      font-size: 0.85em;
      cursor: pointer;
    }
  .vue-tags-input .ti-item.ti-selected-item {
    background: #00C853;
    color: #fff;
  }
  .vue-tags-input .ti-tag {
    position: relative;
    background: #00C853;
    color: #ffffff;
  }
</style>
<div class="pt-5 pb-5">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div id="app">

                    <div v-if="loading===true" class="spinner-grow" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="card" v-if="cardrender===true">
                        <p class="font-medium text-success m-3">[[ embedadd ]]</p>
                        <div class="media align-item-center"><img class="align-self-center img-fluid mr-md-2" :src="embedsinfo.thumbnail_url" :alt="embedsinfo.title" width="120" height="120">
                          <div class="media-body">
                              <p class="mt-0 mb-1 font-medium text-dark">[[ embedsinfo.title ]]</p>
                              <div class="row">
                                  <div class="col-auto text-dark pr-2">[[ embedsinfo.description ]]</div>
                              </div>
      
                          </div>
                      </div>
                    </div>
                  <div class="card">
                    <div class="card-body">
                    <div class="card-title font-medium text-dark"><h4>Dodaj przepis</h4></div>
                    <form class="margin-bottom-25" v-on:submit.prevent="addArticle()">
                        {% csrf_token %}

                        <div class="form-group">
                            <label for="formGroupExampleInput">Adres przepisu*</label>
                            <input type="url" class="form-control" id="url" placeholder="Url" @paste="paste" @input="input" v-model="embed.url">
                        </div>
                        <div class="form-group">
                            <input type="hidden" class="form-control" id="title" placeholder="Title" :value="embed.title">
                        </div>
                        <div class="form-group">
                            <input type="hidden" class="form-control" id="description" placeholder="Description" :value="embed.description">
                        </div>
                        <div class="form-group">
                            <input type="hidden" class="form-control" id="provider_name" placeholder="Provider name" :value="embed.provider_name">
                        </div>
                        <div class="form-group">
                            <input type="hidden" class="form-control" id="thumbnail_url" placeholder="Thumbnail_url" :value="embed.thumbnail_url">
                        </div>
                        <div class="form-group">
                            <input type="hidden" class="form-control" id="html" placeholder="Html" :value="embed.html">
                        </div>
                        <div class="form-group">
                            <input type="hidden" class="form-control" id="category" placeholder="Category" :value="selectedId">
                        </div>
                        <template>
                            <div>
                                <vue-tags-input v-model="tag" :tags="tags" :autocomplete-items="filteredAutocompleteItems" :autocomplete-min-length="0" placeholder="Przypisz kategorie" @tags-changed="(newTags) => (tags = newTags)"></vue-tags-input>
                            </div>
                        </template>
                        <div class="tags-wrapper">
                            <div v-for="item in filteredSuggestions" :key="item.name" class="tag" @click="addSuggestionToTags(item)">
                                <div class="content">
                                    [[ item.text ]]
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success-gradiant mt-3">Dodaj link</button>
                    </form>
                  </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}