{% extends "base.html" %}
{% load static %}

{% block title %}Dodaj link{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<div class="mt-5 mb-5">
<div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">    
            
            <h2 class="mb-4">Dodaj link do przepisu</h2>
            <p class="text-dark">Tutaj w prosty sposób możesz podzielić się ulubionym przepisem. Wystarczy dodać do niego link.
                <span><strong>Po tym jak link zostanie pobrany będzie można przypisać go do kategorii.</strong></span></p>
            <div id="app">

            <form method="post" class="margin-bottom-25" @submit.prevent="submitForm($event)">
                    {% csrf_token %}
                    <span v-html="embedsinfo.html"> !! embedsinfo.html !! </span>
                    <div class="form-group">
                      <label for="formGroupExampleInput">Adres przepisu*</label>
                      <input type="url" class="form-control" placeholder="Url" @paste="paste" @input="input" v-model="embed.url">
                    </div>
                    <div class="form-group">
                      <input type="hidden" class="form-control" placeholder="Title" :value="embedsinfo.title">
                    </div>
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="formGroupExampleInput2" placeholder="Description" :value="embedsinfo.description">
                    </div>
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="formGroupExampleInput2" placeholder="Tthumbnail_url" :value="embedsinfo.thumbnail_url">
                    </div>

                <button type="submit" class="btn btn-success-gradiant">Dodaj link</button>
            </form>

          </div>
            </div>
        </div>
</div>
</div>
{% block javascript %}

{% endblock %}

{% endblock %}