{% extends "base.html" %}
{% load static %}

{% block title %}Dodaj link{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
{% block javascript %}
    <script src="{% static "assets/node_modules/jquery/dist/jquery.min.js" %}"></script>
{% endblock %}
<style>
.tags-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.tag {
  background-color: #30ce6c;
  color: #fff;
  border-radius: 2px;
  display: flex;
  padding: 3px 5px;
  font-size: 0.85em;
  cursor: pointer;
}
</style>
<div class="mt-5 mb-5">
<div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">    
            
            <h2>Dodaj link do przepisu</h2>

         
            <form method="post" class="margin-bottom-25">
                {% csrf_token %}
                {{ form.media }}
          <div id="app">
            <div v-if="loading===true" class="spinner-grow" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <div v-else class="card">
              <img class="card-img-top" v-bind:src="embedsinfo.thumbnail_url" alt="">
              <div class="card-body">
                <div class="card-title">!! embedsinfo.title !!</div>
                <div class="card-text">!! embedsinfo.description !!</div>
              </div>
            </div>
                {{ form.url|as_crispy_field }}
                {{ form.title|as_crispy_field }}
                {{ form.description|as_crispy_field }}
                {{ form.thumbnail_url|as_crispy_field }}
                {{ form.html|as_crispy_field }}
                {{ form.category }}
              </div>

                <button type="submit" class="btn btn-success-gradiant mt-3">Dodaj link</button>
            </form>
          
            </div>
        </div>
</div>
</div>

{% endblock %}