{% extends "base.html" %}

{% block title %}Forum - pytania i odpowiedzi{% endblock %}
{% load static %}

{% block meta %}
<meta property="og:type"   content="article" /> 
<meta property="og:title"  content="{{ recipe.title }}" /> 
<meta property="og:image"  content="{{ recipe.thumbnail_url }}" /> 
<meta property="og:description" content="{{ recipe.description|truncatewords:30 }}" />
<meta property="og:url" content="https://wegemoc.eu/{{ recipe.slug }}" />
{% endblock %}
{% block content %}
{% load thumbnail %}
{% load crispy_forms_tags %}
<div class="container mt-5">
    <div class="d-flex flex-wrap justify-content-between">
        <div> <a href="{% url 'questionadd' %}" class="btn btn-shadow btn-wide btn-primary mb-3"> <span class="btn-icon-wrapper pr-2 opacity-7"> <i class="fa fa-plus fa-w-20"></i> </span> Dodaj post </a> </div>

    </div>
    <div class="card mb-3">
        <div class="card-header pl-0 pr-0">
            <div class="row no-gutters w-100 align-items-center">
                <div class="col ml-3">Tematy</div>
                <div class="col-4 text-muted">
                    <div class="row no-gutters align-items-center">
                        <div class="col-4">Odpowiedzi</div>
                        <div class="col-8">Autor</div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="m-0">
        {% for question in questions %}
        <div class="card-body py-3">
            <div class="row no-gutters align-items-center">
                <div class="col"> <a href="{{ question.get_absolute_url }}" class="text-big" data-abc="true">{{ question.title }}</a>
                    <div class="text-muted small mt-1">{{ question.created_at|timesince }} temu &nbsp;·&nbsp; <a href="{{ question.author.get_absolute_url }}" class="text-muted" data-abc="true">{{ question.author.username }}</a></div>
                </div>
                <div class="d-none d-md-block col-4">
                    <div class="row no-gutters align-items-center">
                        <div class="col-4">12</div>
                        <div class="media col-8 align-items-center border-0"> 
                            {% thumbnail question.author.profile.avatar "50x50" as im %}
                            <img src="{{ im.url }}" alt="" class="d-block ui-w-30 rounded-circle">
                            {% endthumbnail %}
                            <div class="media-body flex-truncate ml-2">
                                <div class="line-height-1 text-truncate"></div> <a href="{{ question.author.get_absolute_url }}" class="text-muted small text-truncate" data-abc="true">{{ question.author.username }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>

                
{% endblock %}