Django==2.2.13
pinax-likes
django-crispy-forms
psycopg2
django-autoslug
pillow
gunicorn
django-allauth
django-initial-avatars
djangorestframework
django-mptt
whitenoise
sorl-thumbnail
django-tinymce4-lite
stream_django
django-tagulous
django-autocomplete-light
pinax-messages
django-cors-headers
django-gdpr-assist
dj-database-url
sentry-sdk