{% extends 'base.html' %}

{% block title %} Regulamin {% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center text-dark">
        <div class="col-lg-8">
            <h1 class="mb-5">Regulamin</h1>
            <h3><strong><b>&sect;1</b></strong></h3>
            <p>Ilekroć w niniejszym regulaminie występują poniższe pojęcia, należy je rozumieć następująco:</p>
            <p><strong><b><span>Regulamin</span></b></strong>&nbsp;- niniejszy regulamin korzystania z serwisu Wegemoc.</p>
            <p><strong><b><span>Serwis</span></b></strong>&nbsp;- <strong><b>Wegemoc</b></strong>, serwis internetowy służący prezentowaniu blog&oacute;w kulinarnych i publikowanych w nich treści, znajdujący się pod adresem https://wegemoc.pl oraz wszystkie funkcje i narzędzia udostępniane przez ten serwis.</p>
            <p><strong><b><span>Użytkownik</span></b></strong>&nbsp;- osoba posiadająca pełną zdolność do czynności prawnych, kt&oacute;ra poprzez akceptację Regulaminu uzyskała dostęp do usługi określonej w &sect;2 Regulaminu. Użytkownikiem może być r&oacute;wnież osoba fizyczna małoletnia i/lub nieposiadająca pełnej zdolności do czynności prawnych, pod warunkiem uzyskania zgody przedstawiciela ustawowego.</p>
            <p><strong><b><span>Ustawa</span></b></strong>&nbsp;- ustawa z dnia 18 lipca 2002 roku o świadczeniu usług drogą elektroniczną.</p>
            <p><strong><b><span>Usługodawca</span></b></strong>&nbsp;- Maciej Urmański</p>
            <p><strong><b><span>Rozporządzenie</span></b></strong>&nbsp;- Rozporządzenia Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony os&oacute;b fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (og&oacute;lne rozporządzenie o ochronie danych).</p>
            <h3><strong><b>&sect;2</b></strong></h3>
            <p>Regulamin określa zasady realizacji na rzecz Użytkownik&oacute;w Serwisu usługi świadczonej drogą elektroniczną w rozumieniu Ustawy, kt&oacute;ra to usługa polega na umożliwieniu użytkownikom zapoznawania się z indeksem blog&oacute;w, wyszukiwania przepis&oacute;w, dodawania do indeksu nowych przepis&oacute;w.</p>
            <h3><strong><b>&sect;3</b></strong></h3>
            <p>W ramach świadczenia usługi drogą elektroniczną Użytkownikom udostępniane jest oprogramowanie umożliwiające korzystanie z usługi, o kt&oacute;rej mowa w &sect;2, na warunkach określonych postanowieniami niniejszego Regulaminu.</p>
            <h3><strong><b>&sect;4</b></strong></h3>
            <p>Wszelkie treści publikowane na stronach poszczeg&oacute;lnych blog&oacute;w zamieszczane są na wyłączną odpowiedzialność autor&oacute;w blog&oacute;w i autor&oacute;w komentarzy do blog&oacute;w. Wyłączną odpowiedzialność za te treści ponoszą ich autorzy.</p>
            <h3><strong><b>&sect;5</b></strong></h3>
            <p>Niedopuszczalne jest podejmowanie na stronach Serwisu działań sprzecznych z prawem, uznanych powszechnie za naganne moralnie, społecznie niewłaściwe lub naruszających zasady Netykiety, w tym w szczeg&oacute;lności niedopuszczalne jest:</p>
            <ul>
                <li><span></span>dodawanie przez Użytkownik&oacute;w do indeksu blog&oacute;w zawierających treści sprzeczne z prawem, wzywające do nienawiści rasowej, wyznaniowej, etnicznej, czy też propagujące przemoc, jak r&oacute;wnież blog&oacute;w i akcji zawierających treści uznane powszechnie za naganne moralnie, społecznie niewłaściwe i naruszające zasady Netykiety,</li>
            </ul>
            <h3><strong><b>&sect;</b></strong><strong><b>6</b></strong></h3>
            <p>Serwis zastrzega sobie prawo do odmowy dodania przepisu&nbsp;do indeksu, w szczeg&oacute;lności w przypadku, gdy treści danego przepisu&nbsp;nie są związane z tematyką serwisu lub też z innych przyczyn.</p>
            <h3><strong><b>&sect;</b></strong><strong><b>7</b></strong></h3>
            <p>W przypadku naruszenia punktu &sect;6 niniejszego Regulaminu, przepis lub przepisy zostaną usunięte z serwisu.</p>
            <h3><strong><b>&sect;</b></strong><strong><b>8</b></strong></h3>
            <p>Na podstawie Ustawy oraz innych bezwzględnie obowiązujących przepis&oacute;w prawa dane Użytkownik&oacute;w Serwisu mogą zostać przekazane sądowi, prokuraturze, policji i innym uprawnionym organom państwa na potrzeby prowadzonych przez nie postępowań.</p>
            <h3><strong><b>&sect;</b></strong><strong><b>9</b></strong></h3>
            <p>Serwis dołoży wszelkich starań w celu zapewnienia prawidłowego działania, bezawaryjności i dostępności przez całą dobę oraz udzieli pomocy w rozwiązywaniu problem&oacute;w dotyczących jego funkcjonowania. Nie gwarantuje jednak możliwości połączenia i zastrzega sobie prawo do wstrzymania udostępniania Serwisu ze względ&oacute;w technicznych.</p>
            <h3><strong><b>&sect;</b></strong><strong><b>10</b></strong></h3>
            <ol>
                <li><span></span>Niniejszy Regulaminie może ulec zmianie.</li>
                <li><span></span>Z zastrzeżeniem postanowień ust. 3 niniejszego paragrafu oraz pod warunkiem nie złożenia przez Użytkownika oświadczenia tam wskazanego, wszelkie zmiany obowiązują od dnia wskazanego w zmienionym Regulaminie, kt&oacute;ry to dzień nie może jednak przypadać wcześniej niż na dzień opublikowania zmienionego Regulaminu na stronie Serwisu.</li>
                <li><span></span>W terminie 7 dni od dnia opublikowania zmienionego Regulaminu Użytkownik może złożyć oświadczenie o braku zgody na obowiązywanie w stosunku do niego zmienionej treści Regulaminu &ndash; takie oświadczenie traktowane będzie jako wypowiedzenie przez użytkownika stosunku prawnego będącego podstawą świadczenia usługi wskazanej w &sect;2 niniejszego Regulaminu.</li>
                <li><span></span>W przypadku złożenia oświadczenia, o kt&oacute;rym mowa w ust. 3 niniejszego paragrafu usługa w stosunku do danego Użytkownika przestanie być świadczona w terminie 3 dni roboczych od dnia złożenia przez Użytkownika oświadczenia.</li>
                <li><span></span>Oświadczenie, o kt&oacute;rym mowa w ust. 3 niniejszego paragrafu dla swej skuteczności powinno być złożone na stosownej podstronie Serwisu.</li>
            </ol>
            <h3><strong><b>&sect;1</b></strong><strong><b>1</b></strong></h3>
            <ol>
                <li><span></span>Administratorem Danych Osobowych jest Usługodawca.</li>
                <li><span></span>Dane osobowe Użytkownik&oacute;w Serwisu będą przetwarzane w celu świadczenia usługi, o kt&oacute;rej mowa w &sect;2 Regulaminu.</li>
                <li><span></span>Dane osobowe Użytkownik&oacute;w Serwisu będą wykorzystywane zgodnie z warunkami określonymi w ustawie z dnia 29 sierpnia 1997 r. o ochronie danych osobowych (tekst jednolity: Dz. U. z 2002 r., Nr 101 poz. 926).</li>
                <li><span></span>Użytkownik ma prawo wglądu do swoich danych osobowych oraz ich poprawiania.</li>
                <li><span></span>Podanie danych osobowych jest dobrowolne.</li>
                <li><span></span>Zasady ochrony prywatności określa regulamin Polityka Prywatności dostępny poniżej:
                    <ol>
                        <li><span></span>Jakie dane o Tobie zbieramy?
                            <ul>
                                <li><span></span>Abyś m&oacute;gł skorzystać z funkcji oferowanych przez Serwis będziesz musiał się zarejestrować. Podczas rejestracji zapytamy Cię o Tw&oacute;j adres e-mail jakiego będziesz używał na naszej witrynie.</li>
                                <li><span></span>Podczas Twojej wizyty na naszej stronie internetowej, automatycznie zbierane są dane dotyczące Twojej wizyty, np. Tw&oacute;j adres IP, nazwa domeny, typ przeglądarki, typ systemu operacyjnego, itp.</li>
                                <li><span></span>Gdy kontaktujesz się z nami za pomocą strony internetowej, telefonu, poczty e-mail, itp. przekazujesz nam swoje dane osobowe, np. imię, nazwisko, adres e-mail, itp.</li>
                            </ul>
                        </li>
                        <li><span></span>W jaki spos&oacute;b wykorzystujemy Twoje dane?
                            <ul>
                                <li><span></span>W żadnym wypadku nie będziemy sprzedawali danych zebranych o Tobie podmiotom trzecim.</li>
                                <li><span></span>Dane zbierane podczas rejestracji będą wykorzystane wyłącznie do umożliwienia Tobie zalogowania się do Serwisu. Rejestracja jest obowiązkowa jeżeli chcesz korzystać z funkcji oferowanych przez Serwis.</li>
                                <li><span></span>Dane zbierane automatycznie mogą być użyte do analizy zachowań użytkownik&oacute;w na naszej stronie internetowej, zbierania danych demograficznych o naszych użytkownikach, lub do personalizacji zawartości naszych stron internetowych. Dane te są zbierane automatycznie o każdym użytkowniku.</li>
                                <li><span></span>Dane zbierane w trakcie korespondencji pomiędzy Tobą, a naszym Serwisem będą wykorzystane wyłącznie w celu odpowiedzi na Twoje zapytanie.</li>
                                <li><span></span>W przypadku kontroli Generalnego Inspektoratu Ochrony Danych Osobowych, Twoje dane mogą zostać udostępnione pracownikom Inspektoratu zgodnie z ustawą o ochronie danych osobowych.</li>
                                <li><span></span>W przypadku naruszenia Regulaminu naszego serwisu, naruszenia prawa, lub gdy będą wymagały tego przepisy prawa, możemy udostępnić Twoje dane organom wymiaru sprawiedliwości.</li>
                                <li><span></span>Dane przetwarzamy w spos&oacute;b zgodny z zakresem udzielonego przez Użytkownika zezwolenia oraz wymogami prawa polskiego oraz Rozporządzenia, w szczeg&oacute;lności w zgodzie z ustawą z dnia 29 sierpnia 1997 r. o ochronie danych osobowych (Dz. U. Nr 133, poz. 883 z p&oacute;źn. zm.) oraz ustawą z dnia 18 lipca 2002 r. o świadczeniu usług drogą elektroniczną (Dz. U. Nr 144, poz. 1204).</li>
                                <li><span></span>Dane nie będą przetwarzane w spos&oacute;b zautomatyzowany jak r&oacute;wnież w formie profilowania.</li>
                            </ul>
                        </li>
                        <li><span></span>W jaki spos&oacute;b będziemy się z Tobą kontaktować?
                            <ul>
                                <li><span></span>Możesz otrzymywać od nas e-maile zawierające ważne komunikaty dotyczące Serwisu.</li>
                                <li><span></span>Jeżeli wyraziłeś zgodę na otrzymywanie automatycznych powiadomień z Serwisu, będziesz je od nas otrzymywać drogą e-mailową.</li>
                            </ul>
                        </li>
                        <li><span></span>W jaki spos&oacute;b możesz poinformować nas o zmianie danych?
                            <ul>
                                <li><span></span>Po zalogowaniu się do systemu i wybraniu sekcji Ustawienia, możesz wprowadzić zmiany lub usunąć swoje dane osobowe zbierane podczas rejestracji i używane do zalogowania się do systemu, czyli masz prawo dostępu do treści danych, prawo do sprostowania danych, prawo do usunięcia danych, prawo do ograniczenia przetwarzania danych, prawo do wniesienia sprzeciwu wobec przetwarzania. Natomiast danych zbieranych automatycznie nie da się zmienić lub usunąć.</li>
                            </ul>
                        </li>
                        <li><span></span>Jak długo przechowujemy Twoje dane?
                            <ul>
                                <li><span></span>Twoje dane osobowe będą przechowywane przez okres trwania umowy czyli do momentu usunięcia konta Użytkownika z Serwisu.</li>
                            </ul>
                        </li>
                        <li><span></span>Prawo do wniesienia skargi
                            <ul>
                                <li><span></span>W przypadku uznania, iż przetwarzanie przez Usługodawcę danych osobowych narusza przepisy Rozporządzenia, Użytkownikowi przysługuje prawo do wniesienia skargi do organu nadzorczego.</li>
                            </ul>
                        </li>
                        <li><span></span>Wykorzystanie ciasteczek (plik&oacute;w cookies)
                            <ul>
                                <li><span></span>Nasza strona internetowa może wykorzystywać ciasteczka, kt&oacute;re służą identyfikacji Twojej przeglądarki podczas korzystania z naszej strony, abyśmy wiedzieli jaką stronę Ci wyświetlić. Ciasteczka nie zawierają żadnych danych osobowych. Szczeg&oacute;łowe informacje odnośnie ciasteczek znajdziesz w stronie Polityka plik&oacute;w cookies.</li>
                            </ul>
                        </li>
                        <li><span></span>W jaki spos&oacute;b zabezpieczamy Twoje dane osobowe?
                            <ul>
                                <li><span></span>Zabezpieczenie danych osobowych Użytkownik&oacute;w jest dla nas najwyższym priorytetem. Nasze bazy danych zabezpieczone są przed nieautoryzowanym ujawnieniem osobom trzecim, wykorzystaniem, zmianą i zniszczeniem.</li>
                            </ul>
                        </li>
                        <li><span></span>Linki wychodzące
                            <ul>
                                <li><span></span>Na stronach Serwisu możesz znaleźć linki umożliwiające bezpośrednie przejście na inne strony internetowe. Nie odpowiadamy za politykę ochrony prywatności stosowaną przez właścicieli tych stron. Zachęcamy do zapoznania się z treścią oświadczeń o ochronie prywatności umieszczonych na stronach gromadzących dane osobowe.</li>
                            </ul>
                        </li>
                        <li><span></span>Kontakt
                            <ul>
                                <li><span></span>W razie dodatkowych pytań dotyczących ochrony prywatności, prosimy o przesłanie ich na adres, odpowiedni formularz znajduje się na stronie Kontakt.</li>
                            </ul>
                        </li>
                    </ol>
                </li>
            </ol>
            <p>&nbsp;</p>
        </div>
    </div>
</div>
{% endblock %}