{% extends 'base.html' %}
{% load static  %}

{% block title %} {{ instance.title }} - Wegemoc {% endblock %}

{% block content %}
<div class="container mt-5">
<h2>{{instance.title}}</h2>

</div>
{% load thumbnail %}

{% if instance.children.all %}
<div class="container">
    <div class="row">
      <div class="col-lg-12 mt-5"><h4 class="margin-left-15">Kategorie</h4></div>

    {% for i in instance.children.all %}
      <!-- place item-->
      <div class="col-6 col-md-3 col-lg-4">
        <div class="card shadow mb-3" style="background-size:cover;background-image:linear-gradient(#E9F3EB, rgba(233,243,235,.7)),{% if i.image %} url({{i.image.url}}) {% endif %};">  


        <h6 class="text-center mt-3"><a href="/recipes/category/{{ i.parent.slug }}/{{ i.slug }}" class="text-dark font-medium">{{ i.title }} - {{ i.parent.title }}</a></h6>
 

                <p class="text-white"><center><small class="text-dark">Obserwujących: {{ i.subscribers.count }} </small></center></p>
          

                <div class="text-center mb-3">
                    {% if i in request.user.subscribed_category.all %}
           
                    <a href="{% url 'subscribe' i.slug %}" class="btn btn-sm btn-success-gradiant" style="background-color: #5EC031; color: white;" id="subscribe_board">Przestań obserwować</span></a>
              
                    {% else %}
             
                    <a href="{% url 'subscribe' i.slug %}" class="btn btn-sm btn-success-gradiant" style="background-color: #5EC031; color: white;" id="subscribe_board">Obserwuj</span></a></li>
                  
                    {% endif %}
                </div>

          </div>
    </div>

    {% endfor %}
</div>
</div>
{% endif %}


<br><hr>

<div class="container" >
<div class="row">
{% if instance.embeds.all %}

 {% for i in instance.embeds.all %}
				<!-- Listing Item -->
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
          <!-- Column -->
          <div class="card shadow">
              <a href="{{ i.get_absolute_url }}"><img class="card-img-top" src="{% thumbnail i.image "600x350" crop="smart" %}" alt="{{ i.title }}"></a>
              <div class="card-body">
                  <h5 class="font-medium h5-home"><a href="{{ i.get_absolute_url }}" class="link">{{ i.title }}</a></h5>
                  <p class="small">{{ i.description|striptags|truncatewords:10 }}</p>
                  <p class="mb-0">
                      <a href="{{ i.added_by.get_absolute_url }}" class="text-muted"><img src="{% thumbnail i.added_by.profile.avatar "100x100" crop="smart" %}" alt="task-user" class="thumb-sm rounded-circle mr-2"> 
                          <span class="font-medium small text-dark">{{ i.added_by.username }}</span></a>
                  </p>
              </div>
          </div>
      </div>
				<!-- Listing Item / End -->		
{% endfor %}

{% endif %}
</div>
</div>
</div>
{% block javascript %}
        <script type="text/javascript">
          // Subscribe boards
          $(document).ready(function(){
            $("a#subscribe_board").on("click", function () {
              {% if not request.user.is_authenticated %}
              window.location.href = "{% url 'account_login' %}";
              {% else %}
              var $msg = $(this);
              var $subscribe_url = $(this).attr("href");
              var $board_subscribers = $('span#board_subscribers')
              $.ajax({
                url: $subscribe_url,
                type: 'GET',
                success: function (data) {
                  if ($msg.text() == 'Obserwuj') {
                    $msg.removeClass('btn-success-gradiant');
                    $msg.addClass('btn-success-gradiant');
                    $msg.text('Przestań obserwować');
                    $board_subscribers.text(data + ' readers');
                  }
                  else if ($msg.text() == 'Przestań obserwować') {
                    $msg.removeClass('btn-success-gradiant');
                    $msg.addClass('btn-success-gradiant');
                    $msg.text('Obserwuj');
                    $board_subscribers.text(data + ' readers');
                  }
                  else {
                    console.log('Unexpected error!');
                  }
                }
              });
              {% endif %}
              return false;
            });
          });
          </script>
{% endblock %}
{% endblock %}