{% extends 'base.html' %}
{% load static  %}

{% block title %} {{ instance.title }} - Wegemoc {% endblock %}

{% block content %}
<div id="subscribe">
<div class="container mt-5">
<h2>{{instance.title}}</h2>
<p>{{ instance.body }}</p>
{% if request.user.is_authenticated %}
{% if instance.parent %}

{% if request.user in instance.subscribers.all %}
               
<subscribe-button subscribe-id="{{ instance.slug }}" subscribe-count="{{ instance.subscribers.count }}" v-bind:issubscribed="false"></subscribe-button>

{% else %}

<subscribe-button subscribe-id="{{ instance.slug }}" subscribe-count="{{ instance.subscribers.count }}" v-bind:issubscribed="true"></subscribe-button>

{% endif %}

{% endif %}
{% else %}
<button type="button" class="btn btn-sm btn-success-gradiant ml-2" data-toggle="tooltip" data-placement="top" title="Musisz być zalogowany/a aby zacząć obserwować tą kategorię.">
  Obserwuj {{ instance.subscribers.count }}
 </button>
{% endif %}
{% load thumbnail %}

{% if instance.children.all %}
<div class="container">
    <div class="row">
      <div class="col-lg-12 mt-5"><h4 class="margin-left-15">Podkategorie</h4></div>

    {% for i in instance.children.all %}
      <!-- place item-->
      <div class="col-6 col-md-3 col-lg-4">
        <div class="card shadow mb-3" style="background-size:cover;background-image:linear-gradient(#E9F3EB, rgba(233,243,235,.7)),{% if i.image %} url({{i.image.url}}) {% endif %};">  


        <h6 class="text-center mt-3"><a href="/recipes/category/{{ i.parent.slug }}/{{ i.slug }}" class="text-dark font-medium">{{ i.title }} - {{ i.parent.title }}</a></h6>
          

                <div class="text-center mb-3">
                  {% if request.user in i.subscribers.all %}
               
                  <subscribe-button subscribe-id="{{ i.slug }}" subscribe-count="{{ i.subscribers.count }}" v-bind:issubscribed="false"></subscribe-button>
            
                  {% else %}
           
                  <subscribe-button subscribe-id="{{ i.slug }}" subscribe-count="{{ i.subscribers.count }}" v-bind:issubscribed="true"></subscribe-button>
                
                  {% endif %}
                </div>

          </div>
    </div>

    {% endfor %}
</div>
</div>
{% endif %}


<br><hr>

<div class="container" >
<div class="row">
{% if instance.embeds.all %}

 {% for i in instance.embeds.all %}
				<!-- Listing Item -->
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
          <!-- Column -->
          <div class="card shadow">
              <a href="{{ i.get_absolute_url }}"><img class="card-img-top" src="{{ i.image.url }}" alt="{{ i.title }}"></a>
              <div class="card-body">
                  <h5 class="font-medium h5-home"><a href="{{ i.get_absolute_url }}" class="link">{{ i.title }}</a></h5>
                  <p class="small">{{ i.description|striptags|truncatewords:10 }}</p>
                  <p class="mb-0">
                      <a href="{{ i.added_by.get_absolute_url }}" class="text-muted"><img src="{% thumbnail i.added_by.profile.avatar "100x100" crop="smart" %}" alt="task-user" class="thumb-sm rounded-circle mr-2"> 
                          <span class="font-medium small text-dark">{{ i.added_by.username }}</span></a>
                  </p>
              </div>
          </div>
      </div>
				<!-- Listing Item / End -->		
{% endfor %}

{% endif %}
</div>
</div>
</div>
</div>
</div>
{% endblock %}