{% extends "base.html" %}
{% load static %}

{% block title %}Wegemoc - przepisy wegetariańskie i wegańskie z całego internetu{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
{% load thumbnail %}
{% load socialaccount %}
{% if not request.user.is_authenticated %}
                <!-- ============================================================== -->
                <!-- Static Slider 10  -->
                <!-- ============================================================== -->
                <div class="static-slider10" style="background-image:url({% static 'images/tlo.jpg' %})">
                    <div class="container">
                        <!-- Row  -->
                        <div class="row justify-content-center ">
                            <!-- Column -->
                            <div class="col-md-7 align-self-center text-center">
                                <h1 class="title font-stylish">Witaj na Wegemoc</h1>
                                <h6 class="subtitle text-dark op-8">Dołącz do społeczności wegemoc, w której znajdziesz wiele inspirujących przepisów wegetariańskich i wegańskich.
                                    Rejestrując się, możesz obserwować wybrane kategorie, tworzyć je i rozwijać je wspólnie z innymi.
                                </h6>
                                <a class="btn btn-success-gradiant m-t-20 m-r-20" href="{% url 'account_login' %}"><span><i class="far fa-user"></i> Zaloguj</span></a>
                                <a class="btn btn-danger-gradiant m-t-20 m-r-20" href="{% url 'account_signup' %}"><span><i class="fas fa-user-plus"></i> Zarejestruj</span></a>
                                <!--
                                <a href="{% provider_login_url "facebook" method="oauth2" %}" class="btn bg-facebook m-t-20 m-r-20"><i class="fab fa-facebook-f"></i> Zaloguj przez Facebook</a>
                                -->
                            </div>
                            <!-- Column -->
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Static Slider 10  -->
                <!-- ============================================================== -->
                <div class="bg-light feature3">
                    <div class="container">
                        <!-- Row  -->
                        <div class="row justify-content-center">
                            <div class="col-md-7 text-center">
                                <h2 class="title">Jak działa wegemoc?</h2>
                            </div>
                        </div>
                        <!-- Row  -->
                        <div class="row m-t-40">
                            <!-- Column -->
                            <div class="col-md-6 wrap-feature3-box">
                                <div class="card card-shadow">
                                    <div class="card-body d-flex">
                                        <div class="icon-space align-self-center"><span class="fas fa-plus-circle display-2 text-success mr-2"><i class="fas fa-plus-circle"></i></span></div>
                                        <div class="align-self-center">
                                            <h5 class="font-medium"><a href="javascript:void(0)" class="linking">Instant Solutions <i class="ti-arrow-right"></i></a></h5>
                                            <p class="m-t-20">You can relay on our amazing features list and also our customer services will be great experience.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Column -->
                            <!-- Column -->
                            <div class="col-md-6 wrap-feature3-box">
                                <div class="card card-shadow">
                                    <div class="card-body d-flex">
                                        <div class="icon-space align-self-center"><i class="icon-Stopwatch display-2 text-success-gradiant"></i></div>
                                        <div class="align-self-center">
                                            <h5 class="font-medium"><a href="javascript:void(0)" class="linking">Powerful Techniques <i class="ti-arrow-right"></i></a></h5>
                                            <p class="m-t-20">You can relay on our amazing features list and also our customer services will be great experience.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Column -->
                            <!-- Column -->
                            <div class="col-md-6 wrap-feature3-box">
                                <div class="card card-shadow">
                                    <div class="card-body d-flex">
                                        <div class="icon-space align-self-center"><i class="icon-Thumbs-UpSmiley display-2 text-success-gradiant"></i></div>
                                        <div class="align-self-center">
                                            <h5 class="font-medium"><a href="javascript:void(0)" class="linking">100% Satisfaction <i class="ti-arrow-right"></i></a></h5>
                                            <p class="m-t-20">You can relay on our amazing features list and also our customer services will be great experience.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Column -->
                            <!-- Column -->
                            <div class="col-md-6 wrap-feature3-box">
                                <div class="card card-shadow">
                                    <div class="card-body d-flex">
                                        <div class="icon-space align-self-center"><i class="icon-Window-2 display-2 text-success-gradiant"></i></div>
                                        <div class="align-self-center">
                                            <h5 class="font-medium"><a href="javascript:void(0)" class="linking">Retargeting Market <i class="ti-arrow-right"></i></a></h5>
                                            <p class="m-t-20">You can relay on our amazing features list and also our customer services will be great experience.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                    
              
{% endif %}
                <!-- ============================================================== -->
                <!-- Blog home 4  -->
                <!-- ============================================================== -->
                <div class="blog-home4 bg-light mb-5 pt-5">
                    <div class="container">
                        <!-- Row  -->
                        <div class="row justify-content-center mb-5">
                            <!-- Column -->
                            <div class="col-md-8 text-center">
                                <h2 class="title">Najnowsze przepisy</h2>
                                <h6 class="subtitle">Najnowsze przepisy z blogów udostępnione przez użytkowników</h6>
                            </div>
                            <!-- Column -->
                        </div>
                        <div class="row">
                        {% for embed in embeds %}
                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                            <!-- Column -->
                            <div class="card card-shadow">
                                <a href="{{ embed.get_absolute_url }}">
                                    {% if embed.image %}
                                    <img class="card-img-top" src="{% thumbnail embed.image "600x350" crop="smart" %}" alt="{{ embed.title }}">
                                    {% else %}
                                    <img class="card-img-top" src="{{ embed.thumbnail_url }}" alt="{{ embed.title }}">
                                    {% endif %}
                                </a>
                                <div class="card-body">
                                    <h5 class="font-medium h5-home"><a href="{{ embed.get_absolute_url }}" class="link">{{ embed.title }}</a></h5>
                                    <p>{{ embed.description|striptags|truncatewords:10 }}</p>
                                    <p class="mb-0">
                                        <a href="{{ embed.added_by.get_absolute_url }}" class="text-muted"><img src="{{ embed.added_by.profile.avatar.url }}" alt="task-user" class="thumb-sm rounded-circle mr-2"> 
                                            <span class="font-medium small text-dark">{{ embed.added_by.username }}</span></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Blog home 4  -->
                <!-- ============================================================== -->

<div class="container">
    <div class="row justify-content-center mb-5">
        <!-- Column -->
        <div class="col-md-8 text-center">
            <h2 class="title">Popularne kategorie</h2>
            <h6 class="subtitle">Zajrzyj do kategorii stworzonych przez użytkowników dla użytkowników i znajdź coś dla siebie. 
                Jeśli postanowisz zostać z nami dłużej, możesz obserwować wybrane kategorie i stworzyć w ten sposób listę dopasową do Twoich preferencji.</h6>
        </div>
        <!-- Column -->
    </div>
</div>
<div class="container">
    <div class="row">
            {% for category in categories %}
            <div class="col-6 col-md-3 col-lg-4">
            <div class="card" style="background:linear-gradient(0deg, rgba(58, 194, 150, 0.9), rgba(3, 212, 83, 0.6)), url({% thumbnail category.image "300x200" crop="smart" %});background-size: cover;  height: 100px;">
                <div class="card-body">
                <div class="mid font-medium text-white"><a href="/recipes/category/{{ category.parent.slug }}/{{ category.slug }}" class="text-white">{{ category.title }} - {{ category.parent.title }}</a></div>

            </div>
            </div>
            </div>

            {% endfor %}
        </div>
    </div>

{% endblock %}