{% extends "base.html" %}
{% load static %}

{% block title %}Lista przepisów{% endblock %}

{% block content %}
{% load thumbnail %}

<div class="container mt-5">
    <div class="row">

        {% for embed in embed_list %}

                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                        <!-- Column -->
                        <div class="card card-shadow">
                            
                            {% if embed.image %}    
                            <a href="{{ embed.get_absolute_url }}"><img class="card-img-top" src="{{ embed.image.url }}" alt="{{ embed.title }}"></a>
                            {% else %}
                            <a href="{{ embed.get_absolute_url }}"><img class="card-img-top" src="{{ embed.thumbnail_url }}" alt="{{ embed.title }}"></a>
                            {% endif %}
                            <div class="card-body">
                                <h5 class="font-medium h5-home"><a href="{{ embed.get_absolute_url }}" class="link">{{ embed.title }}</a></h5>
                                <p>{{ embed.description|striptags|truncatewords:10 }}</p>
                                <p class="mb-0">
                                    <a href="{{ embed.added_by.get_absolute_url }}" class="text-muted"><img src="{% thumbnail embed.added_by.profile.avatar "100x100" crop="center" %}" alt="task-user" class="thumb-sm rounded-circle mr-2"> 
                                        <span class="font-medium small text-dark">{{ embed.added_by.username }}</span></a>
                                </p>
                            </div>
                        </div>
                    </div>
               
        {% endfor %}
    </div>
</div>


{% endblock %}