{% extends "base.html" %}
{% load static %}
{% block title %}Aktywności{% endblock %}

{% block content %}
{% load thumbnail %}
{% load follow %}
<style>
  .fa-carrot {
    color: #ffffff;
  }
</style>
<div id="likebookmark">

<div class="bg-light">
<div class="container">
  <div class="row">

    {% for category in categories %}
    {% for recipe in category.embeds.all %}
    <div class="col-lg-6">
      <div class="card card-shadow mb-4 mt-3">
        <div class="card-body">
          <div class="media border-0">
            {% thumbnail recipe.added_by.profile.avatar "40x40" as im %}
            <a href="{{ recipe.added_by.get_absolute_url }}"><img src="{{ im.url }}" class="d-block ui-w-40 rounded-circle" alt=""></a>
            {% endthumbnail %}
            <div class="media-body ml-3">
              <a href="{{ recipe.added_by.get_absolute_url }}" class="link">{{ recipe.added_by.username }}</a>
              <div class="text-muted small">Dodane: {{ recipe.created_at|timesince }} temu</div>
            </div>
          </div>
          <div class="media">
            <img class="align-self-start mr-3" width="100px" height="100px" src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
            <div class="media-body">
              <h5 class="mt-0"><a href="{{ recipe.get_absolute_url }}" class="link">{{ recipe.title }}</a></h5>
              <p>{{ recipe.description|truncatewords:40|striptags }}</p>
            </div>
          </div>
          <p class="mt-2 mb-0 text-dark font-medium">Kategorie:</p>
          {% for category in recipe.category.all %}
          <a href="/recipes/category/{{ category.parent.slug }}/{{ category.slug }}" class="text-dark font-medium"><span class="badge badge-success">{{ category.title }}</span></a>
          {% endfor %}
        </div>
        <div class="card-footer">
          <div class="d-inline-flex p-2 bd-highlight">
            {% if recipe.votes.all|user_in:user %}
            <like-button vote-type="embed" data-id="{{ recipe.id }}" data-type="29" data-count="{{ recipe.votes.count }}" v-bind:issubscribed="false"></like-button>
            {% else %}
            <like-button vote-type="embed" data-id="{{ recipe.id }}" data-type="29" data-count="{{ recipe.votes.count }}" v-bind:isliked="true"></like-button>
            {% endif %}
            
              <bookmark-button bookmark-id="{{ recipe.id }}" bookmark-count="{{ recipe.bookmarks.count }}"></bookmark-button>
            </div>
          </div>
          </div>
     
      
  </div>
  {% endfor %}
  {% endfor %}
  </div>
</div>
</div>

</div>

{% endblock %}