{% extends "base.html" %}
{% load static %}
{% block title %}Aktywności{% endblock %}

{% block content %}
{% load thumbnail %}
<style>
  .fa-carrot {
    color: #ffffff;
  }
</style>
<div class="bg-light">
<div class="container">
  <div class="row">
    {% for category in categories %}
    {% for recipe in category.embeds.all %}
    <div class="col-lg-6">
      <div class="card card-shadow mb-4 mt-3">
        <div class="card-body">
          <div class="media border-0">
            {% thumbnail recipe.added_by.profile.avatar "40x40" as im %}
            <img src="{{ im.url }}" class="d-block ui-w-40 rounded-circle" alt="">
            {% endthumbnail %}
            <div class="media-body ml-3">
              {{ recipe.added_by.username }}
              <div class="text-muted small">Dodane: {{ recipe.created_at|timesince }} temu</div>
            </div>
          </div>
          <p>{{ recipe.html|safe }}</p>
          <p>{% for cat in recipe.embeds.all %}
                {{ cat.title }}
             {% endfor %}</p>
        </div>
        <div class="card-footer">
          <a href="javascript:void(0)" class="btn btn-sm btn-success">
            <i class="fas fa-carrot"></i> Super!
          </a>
          <a href="javascript:void(0)" class="btn btn-sm btn-danger">
            <i class="fas fa-heart"></i> Ulubione
          </a>
        </div>
      </div>
  </div>
  {% endfor %}
  {% endfor %}
  </div>
</div>
</div>
<div style="background-color: #e8e8e8;" class="pt-5">
  <div class="container">
    <div class="row">

    {% for category in categories %}
          {% for recipe in category.embeds.all %}
          <div class="col-md-8">
          <div class="container padding-top-35">
              <div class="row">
                  <!-- Listing Item -->
                  <div class="col-lg-1"></div>
          <div class="col-lg-6 col-md-12">
                      <div class="boxed-widget-added" style="margin-bottom: 0px;">
                          <div class="hosted-by-title-added">
                              <h4 style="font-size: 15px;"><a href="{{ recipe.added_by.get_absolute_url }}">{{ recipe.added_by.username }}</a></h4>
                              <a href="{{ recipe.added_by.get_absolute_url }}" class="hosted-by-avatar-added"><img src="{{ recipe.added_by.profile.avatar.url }}" style="width: 35px; height: 35px;" alt=""></a>
                              <span class="button-align"><a href="#" target="_blank"  class="button" style="background-color: #cc1818; font-size: 12px; border-radius: 3px; padding: 3px 7px 5px 7px;"><i class="fa fa-heart"></i> Do zeszytu  5 </a></span>
                          </div>
                      </div>
                  <!-- Blog Post -->
        <div class="blog-post single-post" style="margin-top: 0px;">

          <div class="post-content">
  
  
            <p>{{ recipe.html|safe }}</p>
  
            <div class="listing-links-container">
  
                <ul class="listing-links contact-links">
                  <li><a href="{{ recipe.url }}" class="listing-links" style="background-color: #5EC031;"><i class="sl sl-icon-link" style="color: white;"></i> <span style="color: white;">Przejdź do przepisu</span></a></li>
                  <li><a class="listing-links" style="background-color: #5EC031;" data-id="{{ recipe.id }}" data-type="embed" data-action="like" title="Like">
                    <i class="fas fa-carrot" style="color: white;"></i><span style="color: white;">Super!</span> 
                    <span data-count="like" style="color: white;">{{ recipe.votes.likes.count }}</span></a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
  
          </div>
        </div>
        <!-- Blog Post / End -->
    </div>
</div>
</div>  
</div>

{% endfor %}
    {% endfor %}

    <div class="col-xs-12 col-md-4 hidden-xs">
      <div class="panel">
          
      </div>
    </div>
    </div>

  </div>
</div>

{% endblock %}