{% extends "base.html" %}
{% load static %}

{% block title %}Kategorie{% endblock %}

{% block content %}



<section class="py-6">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-8">

        <h2>Kategorie które obserwujesz</h2>
      </div>
    </div>
    <div class="row">
        <!-- Slides-->
        {% for subscribe in subscriptions %}
 
          <!-- place item-->
        <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="card h-100 border-0 shadow" style="background-size:cover;background-image:linear-gradient(#E9F3EB, rgba(233,243,235,.7)),{% if subscribe.image %} url({{subscribe.image.url}}) {% endif %};">  
                <div class="card-body d-flex align-items-center">
                  <div class="w-100">
                    <h5 class="card-title text-dark"><a href="{{ subscribe.get_absolute_url }}" class="text-dark">{{ subscribe.title }}</a></h5>
                    <div class="d-flex card-subtitle mb-3">
                      <p class="flex-grow-1 mb-0 text-dark">{{ subscribe.body|truncatewords:10 }}</p>
  
                      </p>
                    </div>
                    <p class="card-text text-muted text-center text-white">
                    {% if subscribe in request.user.subscribed_category.all %}
                      <a href="{% url 'subscribe' subscribe.slug %}" class="button" id="subscribe_board">Przestań obserwować</a>
                    {% else %}
                      <a href="{% url 'subscribe' subscribe.slug %}" class="button" id="subscribe_board">Obserwuj</a>
                    {% endif %}
                    </p>
                    <p class="card-text text-white"><center><small class="text-dark">Obserwujących: {{ subscribe.subscribers.count }} </small></center></p>
                  </div>
                </div>
              </div>
        </div>
      
        {% endfor %}
    </div>
{% block javascript %}
        <script type="text/javascript">
          // Subscribe boards
          $(document).ready(function(){
            $("a#subscribe_board").on("click", function () {
              {% if not request.user.is_authenticated %}
              window.location.href = "{% url 'account_login' %}";
              {% else %}
              var $msg = $(this);
              var $subscribe_url = $(this).attr("href");
              var $board_subscribers = $('span#board_subscribers')
              $.ajax({
                url: $subscribe_url,
                type: 'GET',
                success: function (data) {
                  if ($msg.text() == 'Obserwuj') {
                    $msg.removeClass('button');
                    $msg.addClass('button');
                    $msg.text('Przestań obserwować');
                    $board_subscribers.text(data + ' readers');
                  }
                  else if ($msg.text() == 'Przestań obserwować') {
                    $msg.removeClass('button');
                    $msg.addClass('button');
                    $msg.text('Obserwuj');
                    $board_subscribers.text(data + ' readers');
                  }
                  else {
                    console.log('Unexpected error!');
                  }
                }
              });
              {% endif %}
              return false;
            });
          });
          </script>
{% endblock %}

</section>
{% endblock %}
