{% extends "base.html" %}

{% block title %}Profil użytkownika {{ profile.username }} {% endblock %}

{% block content %}
{% load thumbnail %}
{% load follow %}
<div class="bg-white">

	<div class="container">
	<!--
	  <div class="d-flex justify-content-between align-items-center py-4">
		<div>
		  <a href="#" class="d-inline-block text-dark">
			<strong>234</strong>
			<span class="text-muted">followers</span>
		  </a>
		  <a href="#" class="d-inline-block text-dark ml-3">
			<strong>111</strong>
			<span class="text-muted">following</span>
		  </a>
		</div>

	  </div>
	  -->
	</div>
	<hr class="m-0">
  
	<div class="container">
	  <div class="text-center py-5">
		<img src="{{ profile.profile.avatar.url }}" width="100" height="100" class="img-circle">
  
		<div class="col-md-8 col-lg-6 col-xl-5 p-0 mx-auto">
		  <h4 class="font-weight-bold my-4">{{ profile.username }}</h4>
			{% if profile.profile.bio %}
		  <div class="text-muted mb-4">
			{{ profile.profile.bio }}
		  </div>
		  	{% endif %}
		</div>
  

			<div class="d-flex flex-row justify-content-center bd-highlight mb-3">
				<div class="p-2 bd-highlight">
					{% if profile.profile.facebook %}
					<a href="{{ profile.profile.facebook }}">
						<i class="fab fa-facebook-square" style="color:#3b5998; font-size: 30px;"></i>
					</a>
					{% endif %}
				</div>
				<div class="p-2 bd-highlight">
					{% if profile.profile.url %}
					<a href="{{ profile.profile.url }}">
						<i class="fas fa-external-link-square-alt" style="font-size: 30px; color: gray;"></i>
					</a>
					{% endif %}
				</div>
			</div>
		<div id="follow">
		<p>
			{% if profile.followers.all|user_in:request.user %}
			<follow-button user-id="{{ profile.id }}" v-bind:isfollowing="true"></follow-button>
			{% else %}
			<follow-button user-id="{{ profile.id }}" v-bind:isfollowing="false"></follow-button>
			{% endif %}
		</p>
	</div>
	  </div>
	</div>
	<hr class="m-0">
  
	<ul class="nav nav-tabs tabs-alt justify-content-center">
	  <li class="nav-item">
		<a class="nav-link py-4" href="#">Dodane przepisy</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link py-4" href="#">Polubienia</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link py-4" href="#">Followers</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link py-4" href="#">Following</a>
	  </li>
	</ul>
  
  </div>
<!-- Header Container / End -->
<div class="container">
	<h4 class="mt-3 mb-3">Ostatnio dodane</h4>
	<div class="row ">
		{% for recipe in addedbyuser %}
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
			<!-- Column -->
			<div class="card card-shadow">
				<a href="{{ recipe.get_absolute_url }}"><img class="card-img-top" src="{{ recipe.image.url }}" alt="{{ embed.title }}"></a>
				<div class="card-body">
					<h5 class="font-medium h5-home"><a href="{{ recipe.get_absolute_url }}" class="link">{{ recipe.title }}</a></h5>
					<p>{{ recipe.description|striptags|truncatewords:10 }}</p>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

				

{% endblock %}