{% extends 'base.html' %}
{% load static %}

{% block title %} Edycja profilu {% endblock %}

{% block content %}

{% load crispy_forms_tags %}
<div class="container pt-5">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="card">

            <div class="card-body">
            <div class="card-title font-medium text-dark">Edycja profilu</div>
            <form method="POST" enctype="multipart/form-data" class="text-dark">
            {% csrf_token %}
            {{ user_form|crispy  }}
            <img src="{{ profile_form.instance.avatar.url }}" class="img-fluid img-circle avatarimg" width="100px" height="100px" />
            {{ profile_form.avatar.as_p }}
            {{ profile_form|crispy }}

            </form>
            </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}