{% extends "base.html" %}
{% load static %}

{% block title %}Artykuły{% endblock %}

{% block content %}
{% load thumbnail %}
{% load bootstrap_pagination %}

<section class="py-6 bg-light">
  <div class="container">
    <div class="row mb-3">
      <div class="col-md-8">
        <h2>Artykuły</h2>
      </div>
    </div>
    <div class="row">
        <!-- Slides-->
        {% for subject in subjects %}
 
          <!-- place item-->
        <div class="col-lg-3 col-md-3 col-sm-12 mb-5">
            <div class="card border-0 shadow">
                {% thumbnail subject.image "400" as im %}
                <img class="card-img-top" src="{{ im.url }}" alt="{{ subject.title }}">  
                {% endthumbnail %}
                <div class="card-body d-flex align-items-center">
                  <div class="w-100">
                    <span><a class="text-danger" href="{{ subject.board.get_absolute_url }}">{{ subject.board }}</a></span> 
                    <h5 class="card-title text-dark"><a href="{{ subject.get_absolute_url }}" class="text-dark">{{ subject.title }}</a></h5>
                    <div class="d-flex card-subtitle">
                      <p class="flex-grow-1 mb-0 text-dark">{{ subject.body|truncatewords:15|striptags }}</p></p>
                    </div>
                  </div>
                </div>
                <div class="card-footer border-0 text-muted">
                       <small>Dodane: {{ subject.created_at|timesince }}</small>
                </div>
              </div>
        </div>
        {% endfor %}
      </div>
      {% bootstrap_paginate page_obj %}
</section>
{% endblock %}
