{% extends 'base.html' %}

{% block title %} Blog - Wegemoc {% endblock %}

{% block content %}
{% load thumbnail %}

<div class="container mt-5">
	<h3 class="mb-3">Najnowsze artykuły</h3>
	<div class="row">
		{% for post in posts %}
		<div class="col-sm-12 col-md-4 col-lg-4">
			<div class="card card-shadow">
				<a href="{{ post.get_absolute_url }}"><img class="card-img-top" src="{% thumbnail post.image "600x350" crop="smart" %}" alt="{{ embed.title }}"></a>
				<div class="card-body">
					<h5 class="font-medium h5-home"><a href="{{ post.get_absolute_url }}" class="link">{{ post.title }}</a></h5>
					<p>{{ post.body|striptags|truncatewords:10 }}</p>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>


{% endblock %}