{% load static %}
{% load thumbnail %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <title>{% block title %} Wegemoc - przepisy wegetariańskie i wegańskie z całego internetu {% endblock %}</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static "assets/node_modules/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- This is for the animation CSS -->
    <link href="{% static "assets/node_modules/aos/dist/aos.css" %}" rel="stylesheet">
    <!-- This css we made it from our predefine componenet 
    we just copy that css and paste here you can also do that -->
    <link href="{% static "css/demo.css" %}" rel="stylesheet">
    <!-- Common style CSS -->
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "css/yourstyle.css" %}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="">

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div class="container-fluid main-menu-conteiner" style="border-bottom-style: groove; border-bottom-color: #e8e8e8; border-bottom-width: 1px;">
      <div class="nav-wrapper">
          <!--Logo -->
          <div class="custom-logo-wrapper">
              <a class="navbar-brand" href="/"><img src="{% static 'images/logo.png' %}" width="120px"></a>
          </div>
          <!--Menu -->
          <div class="custom-menu-wrapper">
              <nav class="navbar navbar-icon-top navbar-expand-lg navbar-light bg-white">

                  <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                  </button>

                  <div class="collapse navbar-collapse main-menu-custom" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                          <li class="nav-item">
                              <a class="nav-link" href="{% url 'feed' %}">
                                  Obserwujesz
                              </a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="{% url 'categories' %}">
                                  Kategorie
                              </a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="{% url 'recipelist' %}">
                                  Przepisy
                              </a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="{% url 'questionlist' %}">
                                  Forum
                              </a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="{% url 'postlist' %}">
                                  Blog
                              </a>
                          </li>
                      </ul>


                  </div>
              </nav>
          </div>

          <!-- Additional icons in navbar -->
          <div class="nav-add-icons">
              <ul class="navbar-nav add-icons-list">
                  {% if request.user.is_authenticated %}
                  <!--Notifications-->
                  <li class="nav-item counter-wrapper-sn">
                      <a class="nav-link" href="">

                          <i class="far fa-bell"></i>
                          <span class="badge badge-success counter-sn"></span>

                      </a>

                  </li>

                  {% endif %}
                  {% if request.user.is_authenticated %}
                  <!--Avatar-->
                  <li class="nav-item dropdown no-arrow">
                      {% load thumbnail %}
                      <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {% thumbnail request.user.profile.avatar "100x100" crop="smart" as im %}
                          <img class="img-profile rounded-circle" src="{{ im.url }}"></a>
                      {% endthumbnail %}
                      <!-- Dropdown - User Information -->
                      <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                          <a class="dropdown-item" href="{% url "profiledetail" request.user.username %}">
                              <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                              Profil
                          </a>
                          <a class="dropdown-item" href="{% url 'pinax_messages:inbox' %}">
                              <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                              Wiadomości
                          </a>
                          <a class="dropdown-item" href="">
                              <i class="far fa-bell fa-sm fa-fw mr-2 text-gray-400"></i>
                              Powiadomienia
                          </a>
                          <a class="dropdown-item" href="{% url 'editprofile' %}">
                              <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                              Edycja profilu
                          </a>

                          <a class="dropdown-item" href="{% url 'account_logout' %}">
                              <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                              Wyloguj
                          </a>
                      </div>
                  </li>
                  {% else %}
                  <li class="nav-item">
                      <a class="nav-link logowanie" href="{% url 'account_login' %}">
                          <i class="far fa-user text-dark logowanie"></i>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link logowanie" href="{% url 'account_signup' %}">
                          <i class="fas fa-user-plus text-dark logowanie"></i>
                      </a>
                  </li>
                  {% endif %}
              </ul>

          </div>

      </div>
  </div>
    <div id="main-wrapper bg-light">

        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->

            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            
     
				{% block content %}
				{% endblock %}

            
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Back to top -->
            <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer 4  -->
        <!-- ============================================================== -->
        <div class="footer4 spacer b-t">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 m-b-30">
                        <h5 class="m-b-20">O nas</h5>
                        <p>Wegemoc to społeczność w której wraz z innymi użytkonikami 
                          możesz zebrać najlepsze przepisy wegetariańskie i wegańskie z całego internetu. Twórz kategorie, 
                          współtwórz je z innymi, obserwuj te, które Cię interesują i otrzymuj dokładnie takie przepisy jakich poszukujesz. </p>
                    </div>
                    <div class="col-lg-3 col-md-6 m-b-30">
                        <h5 class="m-b-20">Kontakt</h5>
                        <p><a href="#" class="link">maciej@wegemoc.pl</a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h5 class="m-b-20">Dołącz do nas na</h5>
                        <div class="round-social light">
                            <a href="https://www.facebook.com/Wegemocpl-1406168323007356/"><i class="fab fa-facebook-f"></i></a>
                        </div>
                    </div>
                </div>
                <div class="f4-bottom-bar">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="d-flex font-14">
                                <div class="m-t-10 m-b-10 copyright"><img src="{% static 'images/logo.png' %}" class="m-r-10" alt="Wegemoc" width="50" />Wegemoc.pl</div>
                                <div class="links ml-auto m-t-10 m-b-10">
                                    <a href="#" class="p-10 p-l-0">Regulamin</a>
                                    <a href="#" class="p-10">Polityka prywatności</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- footer 4  -->
        <!-- ============================================================== -->
    </div>
          <!--Bottom menu start-->
          <nav class="nav-bottom">
            <a href="{% url 'embedadd' %}" class="nav__link">
              <i class="fas fa-plus"></i>
              <span class="nav__text">Dodaj przepis</span>
            </a>
            <a href="{% url 'feed' %}" class="nav__link">
              <i class="far fa-eye"></i>
              <span class="nav__text">Obserwujesz</span>
            </a>
            <a href="{% url 'categories' %}" class="nav__link">
              <i class="fas fa-archive"></i>
              <span class="nav__text">Kategorie</span>
            </a>
            {% if request.user.is_authenticated %}
            <a href="{% url 'user_bookmarks_list' request.user.username %}" class="nav__link">
              <i class="far fa-bookmark"></i>
              <span class="nav__text">Ulubione</span>
            </a>
            {% else %}
            <a href="#" data-toggle="tooltip" data-placement="top" title="Musisz być zalogowany, aby zobaczyć listę ulubionych." class="nav__link">
              <i class="far fa-bookmark"></i>
              <span class="nav__text">Ulubione</span>
            </a>
            {% endif %}
            <a href="{% url 'editprofile' %}" class="nav__link">
              <i class="fas fa-sliders-h"></i>
              <span class="nav__text">Ustawienia</span>
            </a>
          </nav>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js" integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@johmun/vue-tags-input/dist/vue-tags-input.js"></script>

    {% block javascript %}
    <script src="{% static "assets/node_modules/jquery/dist/jquery.min.js" %}"></script>
    {% endblock %}
    <script>
      $(function () {
          $('[data-toggle="tooltip"]').tooltip()
      })
    </script>
    <!-- Bootstrap popper Core JavaScript -->
    <script src="{% static "assets/node_modules/popper/dist/popper.min.js" %}"></script>
    <script src="{% static "assets/node_modules/bootstrap/js/bootstrap.min.js" %}"></script>
    
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->

    {% if request.user.is_authenticated %}
    <script type = "application/javascript" >
    
    $('main script:not([type="application/javascript"])').attr('type', 'application/javascript');
    axios.defaults.xsrfHeaderName = "X-CSRFToken";

    new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data() {
            return {
                embed: {
                    url: '',
                    title: '',
                    description: '',
                    type: '',
                    thumbnail_url: '',
                    html: '',
                    category: [],
                },
                loading: false,
                isPaste: false,
                embedsinfo: [],
                tag: '',
                tags: [],
                maxTags: 3,
                autocompleteItems: [{
                    text: 'Adam',
                    id: 1
                }, ],
                suggestions: [{
                    text: 'Adam',
                    id: 1
                }],
                test: [],
                cardrender: false,
                embedadd:'',
            }
        },
        mounted() {
            axios.get('/recipes/suggestions/').then(response => {
                this.suggestions = response.data.map(sugestion => {
                    return {
                        text: sugestion.title + ' - ' + sugestion.parentname,
                        id: sugestion.id
                    };
                })
            }),
            axios.get('/recipes/recipecategories/').then(response => {
                    this.autocompleteItems = response.data.map(category => {
                        return {
                            text: category.title + ' - ' + category.parentname,
                            id: category.id
                        };
                    })
                })
        },
        watch: {
            'tag': 'initItems',
        },
        computed: {
            filteredAutocompleteItems() {
                return this.autocompleteItems.filter(
                    (el) => el.text.toLowerCase().indexOf(this.tag.toLowerCase()) !== -1
                ).map(el => ({
                    text: el.text
                }))
            },
            filteredSuggestions() {
                console.log(this.suggestions.filter(
                    (el) => !this.tags.some((tag) => tag.text === el.text)
                ))
                return this.suggestions.filter(
                    (el) => !this.tags.some((tag) => tag.text === el.text)
                )
            },
            selectedId() {
                const array = []
                this.tags.forEach(tag => {
                    const foundItem = this.autocompleteItems.find(item => item.text === tag.text)
                    if (foundItem) {
                        array.push(foundItem.id)
                    }
                })
                console.log(array, this.tags)
                return array
            }
        },
        methods: {
            update(newTags) {
                this.autocompleteItems = [];
                this.tags = newTags;
            },
            addSuggestionToTags(item) {
                this.tags.push(item)
            },
            paste() {
                this.isPaste = true;
            },
            input() {
                if (this.isPaste) {
                    axios.get('https://iframe.ly/api/oembed?url=' + this.embed.url + '&api_key=493c9ebbdfcbdac2a10d6b')
                        .then(response => (this.embed = response.data))
                    isPaste = false;
                }
            },
            addArticle: function() {
                this.loading = true;
                this.embed.category = this.selectedId
                axios.post('/recipes/embeds/', this.embed)
                    .then((response) => {
                        this.loading = false;
                        this.cardrender = true;
                        this.embedadd = 'Przepis został dodany'
                        this.embedsinfo = response.data
                    })
                    .catch((err) => {
                        this.loading = false;
                        console.log(err);
                    })
            },
        },
        filters: {
            truncate: function(text, length, suffix) {
                return text.substring(0, length) + suffix;
            },
        }

    }); 
  </script>
<script type="application/javascript">
  Vue.component('follow-button', {
    delimiters: ['[[', ']]'],
    props: ['userId', 'isfollowing', 'buttontext'],
    data: function () {
      return {
        followingStatus: null,
      }
    },
    created() {
      this.followingStatus = this.isfollowing
    },
    methods: {
      followUser() {
          axios.post('/account/follows/', {'target': this.userId})
                    .then(response => {
                        this.followingStatus = true;
                        console.log(response.data);
                    })
                    
                    .catch(errors => {
                        if (errors.response.status == 401){
                            window.location = '/login';
                        }
                    });
              },
      unfollowUser(){
        axios.delete('/account/unfollow/' + this.userId + '/').then(response => {
                    this.followingStatus = false;
                    console.log(response.data);
        })}

            },
    template: `
    <button class="btn btn-sm btn-success" @click="unfollowUser" v-if="this.followingStatus">Przestań obserwować</button>
    <button class="btn btn-sm btn-success" @click="followUser" v-else>Obserwuj</button>
    `
  })
  
  var follow = new Vue({
    el: '#follow',
    data: {
      follow: [],
    },
  })
  </script>

<script type="application/javascript">
  Vue.component('like-button', {
  delimiters: ['[[', ']]'],
  props: ['dataId', 'dataType', 'dataCount', 'isliked', 'voteType'],
  data: function () {
    return {
      likes: [],
      like: {
        content_type: '',
        object_id: '',
      },
      likeStatus: null,
    }
  },
  created() {
    this.likeStatus = this.isliked
  },
  template:`
          <button class="btn btn-sm btn-success-gradiant ml-2" @click="likeReaction" v-if="this.likeStatus"><i class="fas fa-carrot"></i> Lubię to [[ dataCount ]]</button>
          <button class="btn btn-sm btn-danger-gradiant ml-2" @click="unlikeReaction" v-else><i class="fas fa-carrot"></i> Nie lubię [[ dataCount ]]</button>
          `,
  methods: {
    likeReaction() {
            axios.post('/like/likes/', {'content_type': this.dataType, 'object_id': this.dataId})
                    .then(response => {
                        this.likeStatus = false;
                        this.likes = response.data;
                        this.dataCount = this.likes.total_votes;
                    })
                    
                    .catch(errors => {
                        if (errors.response.status == 401){
                            window.location = '/login';
                        }
                    });
            },
    unlikeReaction(){
        axios.delete('/like/' + this.voteType + '/' + this.dataId + '/').then(response => {
                    this.likeStatus = true;
                    this.dataCount = this.likes.total_votes;
                    console.log(response.data);
        })}
  }
})

new Vue({ el: '#like',
          delimiters: ['[[', ']]'] })
</script>
<script type="application/javascript">
  Vue.component('bookmark-button', {
  delimiters: ['[[', ']]'],
  props: ['bookmarkId', 'bookmarkCount'],
  data: function () {
    return {
      bookmarks: [],
    }
  },
  template: '<button class="btn btn-sm btn-danger-gradiant ml-2" @click="bookmarkReaction"><i class="fas fa-heart"></i> Ulubione [[ bookmarkCount ]]</button>',
  methods: {
    bookmarkReaction() {
            axios.post('/bookmarks/' + this.bookmarkId + '/bookmark/')
                    .then(response => {
                        this.bookmarks = response.data;
                        this.bookmarkCount = this.bookmarks.count
                    })
                    
                    .catch(errors => {
                        if (errors.response.status == 401){
                            window.location = '/login';
                        }
                    });
            },
  }
})
new Vue({ el: '#bookmark',
          delimiters: ['[[', ']]'] })
</script>

<script type="application/javascript">
  Vue.component('subscribe-button', {
  delimiters: ['[[', ']]'],
  props: ['subscribeId', 'dataType', 'subscribeCount', 'issubscribed', 'voteType'],
  data: function () {
    return {
      subscription: [],
      subscribeStatus: null,
    }
  },
  created() {
    this.subscribeStatus = this.issubscribed
  },
  template:`
          <button class="btn btn-sm btn-success-gradiant" @click="subscribeadd" v-if="this.subscribeStatus"> Obserwuj [[ subscribeCount ]]</button>
          <button class="btn btn-sm btn-danger-gradiant" @click="subscribedelete" v-else> Przestań obserwować [[ subscribeCount ]]</button>
          `,
  methods: {
    subscribeadd() {
            axios.post('/recipes/' + this.subscribeId + '/subscriptionadd/')
                    .then(response => {
                        this.subscribeStatus = false;
                        this.subscription = response.data;
                        this.subscribeCount = this.subscription.subscribers_count;
                    })
                    
                    .catch(errors => {
                        if (errors.response.status == 401){
                            window.location = '/login';
                        }
                    });
            },
    subscribedelete(){
        axios.delete('/recipes/' + this.subscribeId + '/subscriptiondelete/').then(response => {
                    this.subscribeStatus = true;
                    this.subscription = response.data
                    this.subscribeCount = this.subscription.subscribers_count;
                    console.log(response.data);
        })}
  }
})

new Vue({ el: '#subscribe',
          delimiters: ['[[', ']]'] })
</script>
{% endif %}
</body>

</html>